.slider-menu-genres {
    background-color: #131a21;
    height: 450px;
}

.slider-menu-genres-item-img {
    background-color: #646464;
    display: block;
    margin: auto;
}

.slider-menu-genres-title {
    color: aliceblue;
}

.slider-menu-genres-title h1{
    font-size: 30px;
    color: white;
    margin-left: 160px;
}

.slider-menu-genres-item-container {
    position: relative;
    width: 100%;
  }

.slider-menu-genres-item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .slider-menu-genres-item-container:hover .slider-menu-genres-item-overlay {
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .slider-menu-genres-item-container:hover .slider-menu-genres-item-img{
      filter: blur(1px) brightness(50%);
  }

  .slider-menu-genres-colection {
    margin-left: 155px;
    margin-right: 155px;
}

.slider-menu-genres-content {
    padding-top: 70px;
}