.Collection-ganres {
    display: grid;
    height: 73vh;
    padding-top: 140px;
    padding-right: 150px;
    padding-left: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #bebebe;
}