.bg {
  background-image: url(bhr.jpg);
  height: 100vh;
  filter: brightness(70%) blur(1px);
}

.left h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.loginwith {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.or {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.login-page-container{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100vh;
}

#login-box {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  left: 42vw;
  top: 30vh;
  background-color: rgba(204, 204, 204, 0.3);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.left h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.left input[type="text"],
.left input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  background: transparent;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.left input[type="text"]:focus,
.left input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.left input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.left input[type="submit"]:hover,
.left input[type="submit"]:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.left input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

::-webkit-input-placeholder {
  color: white;
  text-shadow: 1px 1px 2px black;
}
:-ms-input-placeholder {
  color: white;
  text-shadow: 1px 1px 2px black;
}
::-moz-placeholder {
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 2px black;
}
:-moz-placeholder {
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 2px black;
}