.slider-menu-film-item {
  height: 350px;
  width: 220px;
  justify-content: center;
}

.slider-menu-film-item-img {
  background-color: #29333D;
  display: block;
  margin: auto;
  height: 300px;
  border-radius: 10px;
}

.slider-menu-film-item-container {
  position: relative;
  width: 100%;
}

.slider-menu-film-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
  
.slider-menu-film-item:hover .slider-menu-film-item-overlay {
  height: 100%;
}

.slider-menu-film-item:hover .slider-menu-film-item-img{
  filter: brightness(30%);
}

.slider-menu-film-item-overlay-info {
  padding-top: 100px;
  padding-left: 20px;
}

.info-rating {
  color: #fd076d;
  font-size: 60px;
}

.info-year {
  color: white;
  font-size: 20px;
}

.info-country {
  color: white;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-genre {
  color: white;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-time {
  color: white;
  font-size: 30px;
}

.slider-menu-film-item-namemovie {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}