.slider-menu-film {
    height: 460px;
}

.slider-menu-film-title {
    margin-left: 160px;
    margin-top: 70px;
}

.slider-menu-film-title h1{
    color: #141414;
    font-size: 30px;
}

.slider-menu-film-colection {
    margin-left: 155px;
    margin-right: 155px;
}

.slick-prev {
}

.slick-next {
}

.slick-slide div {
    /* outline: none; */
    /* cursor: pointer; */
}
