.Page-Player {
    height: 100vh;
    width: 100vw;
    background-image: url(bhr.jpg);
}

.player {
    padding-top: 150px;
    justify-content: center;
    left: 50%;
    margin-left: -640px;
    position: absolute;
}