.header {
    display: flex;
    height: 100px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0 155px 0 155px;
    background: transparent;
}

.header-active {
    display: flex;
    height: 100px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0 155px 0 155px;
    background-color: #141414;
}

.pen-main {
    display:inline-block;
}

.logo {
    margin-top: 20px;
}

.logo-active {
    margin-top: 20px;
}

.pen-main-header-search {
    margin-left: auto;
}

.pen-main-header-search-img {
    height: 24px;
}

ul.pen-main-header-list-item {
    display: inline;
    margin: 0; 
   }
ul.pen-main-header-list-item li {
    display: inline; 
   }

ul.pen-main-header-list-item li a {
    font-size: 18px;
    margin-left: 45px;    
    text-decoration: none;
   }

ul.pen-main-header-list-item li a span{
    color: white;
   }

ul.pen-main-header-list-item li :hover{
    color: #fd076d;
}

.login {
    display: inline;
}

.output {
    cursor: pointer;
}