.page-poster-carusel-item-img {
    height: 1080px;
    display: block;
    margin: auto;
    
}

.page-poster-carusel-item-img {
    filter: brightness(50%);
}

.slick-slide div {
    outline: none;
}

.page-poster-carusel-item-link a{
    color: white;
}

.item-img-stars {
    position: absolute;
    bottom: 340px;
    right: 156px;
    font-size: 16px;
    color: white;
    width: 502px;
    text-align: left;
  }

.item-img-stars h1 {
    display: inline-block;
    font-size: 18px;
    color: #ee0659;
}

.item-img-director {
    position: absolute;
    bottom: 300px;
    right: 156px;
    font-size: 16px;
    color: white;
    width: 502px;
    text-align: left;
}

.item-img-director h1 {
    display: inline-block;
    font-size: 18px;
    color: #ee0659;
}


.item-img-info {
    position: absolute;
    bottom: 170px;
    right: 156px;
    font-size: 16px;
    color: white;
    width: 502px;
    text-align: left;
  }

.item-img-name {
    position: absolute;
    bottom: 466px;
    left: 164px;
    font-size: 144px;
    color: white;
    text-align: left;
}