.search-box {
    display:inline-block;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
    color: white;
  }

.seach-box input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: white;
    cursor: pointer;
    }
    
.seach-box input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #ee0659;
    color: white;
    cursor: text;
    }
    
.seach-box button {
    background: transparent;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    }

.search-img {
    height: 24px;
    width: 24px;
}

.seach-box button:before {
    font-size: 30px;
}

::-webkit-input-placeholder {
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }
  ::-moz-placeholder {
    color: white;
    opacity: 1;
  }
  :-moz-placeholder {
    color: white;
    opacity: 1;
  }
