.constructor-main-page {
    background-image: url(bhr.jpg);
    height: 100vh;
}

#constructor-box {
    position: fixed;
    width: 640px;
    height: 740px;
    border-radius: 20px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    left: 32vw;
    top: 16vh;
    background-color: rgba(204, 204, 204, 0.3);
  }

  .constructor-left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 640px;
    height: 640px;
  }

  .constructor-left h1 {
      margin-left: 120px;
  }
  
  .constructor-left-box {
      margin-left: 25px;
  }
